body{
    background-color: wheat;
}
nav{
    background-color: wheat;
}

/* pagina Home estilo*/
#container-home{
    width: 100%;
    height: 100%;
}

#img-container {
    width: 100%;
    overflow: hidden;   
}

#img-container img{
        object-fit: cover;
        width: 100%;
        height: 20em;
}

#color-cont{
    background-color: tan;
    margin:  1em;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

#color-cont h1{
    font-size: 5em;
    color: rgb(211, 168, 77);
    text-shadow: 3px 3px #a36a35;
    text-align: center;
    margin: 8px auto;
}

#container-home p{
    margin: auto;
    padding: 2em;
    justify-content: center;
}

/* color container de menu*/


.color-cont{

    background-color: tan;
    margin:  0 auto;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

#marco{
    padding: 0.5em;
    border:3px solid rgb(210, 140, 140) ;
   
}


/* Da un margen de 2em a la izquierda */
.espaciado {
    margin-left: 2em;
}

/* Da color al cuerpo de los platos en menus */
.card-body {
    background-color: rgba(248,249,250,255)
}